<div class="container faq-section mt-3">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-uppercase text-center const-blue"><b>FREQUENTLY ASKED QUESTIONS</b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        <div class="list-group-item border-0">
          <h3 class="const-heading">I am receiving a run-time error. What should I do?</h3>
          <p>Please see the Support section of this website. It will explain the steps you should take if you experience
            one of these errors.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Is TrueBudget compatible with 64-bit versions of Excel?</h3>
          <p>Yes. However, we have been unable to test it on a 64-bit version of Excel for Windows. If you are running a
            64-bit version of Excel for Windows and experience problems, please let us know.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Is TrueBudget compatible with Excel Online, Excel for iOS, or Excel for Android?</h3>
          <p>Unfortunately, it is not. Those versions of Excel do not support macros, which is the code that runs
            'behind-the-scenes' to make TrueBudget work. We hope that someday Microsoft will add support for macros to
            those versions of Excel.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Will you send me the password to unprotect one of the sheets?</h3>
          <p>Unfortunately, this is not something we are willing to do at this time. There are many formulas on the
            various sheets, and we don't want anyone to accidentally delete them, as it would cause TrueBudget to no
            longer function properly. Also, there are some hidden columns where there are calculations happening
            'behind-the-scenes', and we do not want those to be visible. However, we have made it possible to unprotect
            certain cells on the sheets. Go into the main Options menu, and select the Sheet Protection tab. Uncheck the
            sheets you want to be able to modify. Technically this does not unprotect the sheets, but it will allow you
            to make changes to certain cells that were locked before, and also allow you to change things like
            background color of cells, font size, etc.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Excel has asked me if I want to 'Grant Access' to a certain folder. Why is this?</h3>
          <p>Due to a limitation of Excel 2016 for Mac (and above), you must give Excel permission in order for it to
            access certain folders on your computer. Please do grant it access if it asks you.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">TrueBudget says it will expire on December 31, 2021. What happens then?</h3>
          <p>After that date, you will no longer be able to make changes to the budget sections of the file. However,
            you will be able to continue actualizing any budgets you have already created.
          </p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">What if I want to continue using TrueBudget after the file expires?</h3>
          <p>We plan to release a new version of TrueBudget before December 31, 2021.  Please come back to our website before that date to check for a new version.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">​​Are you open to hearing suggestions about how to make TrueBudget better?</h3>
          <p>Yes, absolutely! We strongly encourage everyone who uses TrueBudget to reach out and tell us how we can
            improve it. You can email us at <a href="mailto:support@truebudget.net">support@truebudget.net</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>