<footer class="footer">
  <section class="home_footer">
    <div class="container">
        <div class="row bottom-footer">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <h5><span>Copyright © 2021 All Rights Reserved by <a href="http://www.revolutiones.com" target="_blank">Revolution Entertainment Services</a>.</span></h5>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <h5 class="pull-right footer-right">
                    <ul>
                        <li><span><a  href="https://www.facebook.com/Revolution-Entertainment-Services-688285538008515/" target="_blank"><i  aria-hidden="true" class="fa fa-facebook-square"></i></a></span></li>
                        <li><span><a  href="https://www.linkedin.com/company/revolutionentertainmentservices/" target="_blank"><i  aria-hidden="true" class="fa fa-linkedin-square"></i></a></span></li>
                        <li><span><a href="http://www.revolutiones.com/#/privacypolicy" target="_blank"> Privacy Policy</a></span></li>
                        <div id="verticle-line"></div>
                        <li><span><a href="http://www.revolutiones.com/#/termsofuse" target="_blank">Terms of Use</a></span></li>
                    </ul>
                    
                </h5>
            </div>
        </div>
    </div>
</section>
</footer>
