<div class="container learn-section mt-3">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-primary text-uppercasem text-center"><b>USER GUIDE</b></h2>
      <p class="text-center">If you'd like to download the User Guide in PDF format, 
      <a href="../../assets/website/document/trueBudget_userGuide.pdf" target="_blank" class="text-secondary">click here</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="const-heading text-uppercasem text-center">VIDEO TUTORIALS</h3>
    </div>
  </div>
  <div class="row video-frame">
    <div>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://youtube.com/embed/ZPafw-jPWSY" allowfullscreen>
      </iframe>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://youtube.com/embed/eaNaNwSa4YA" allowfullscreen>
      </iframe>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://youtube.com/embed/VGs4Z4hb26s" allowfullscreen>
      </iframe>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://youtube.com/embed/9r7Xwl5X12g" allowfullscreen>
      </iframe>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://youtube.com/embed/wVJs2v8hWJQ" allowfullscreen>
      </iframe>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://youtube.com/embed/kGA-yA2x1xE" allowfullscreen>
      </iframe>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://youtube.com/embed/yjz0xjblavA" allowfullscreen>
      </iframe>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://youtube.com/embed/t_F9IXEX8sg" allowfullscreen>
      </iframe>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://youtube.com/embed/7mW6a7CRDlg" allowfullscreen>
      </iframe>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://youtube.com/embed/PT_Qa5uI77I" allowfullscreen>
      </iframe>
      <iframe class="col-md-6 col-lg-6 col-sm-6 col-xs-12 embed-responsive-item" src="https://www.youtube.com/embed/8PzeNCeIlHc" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>