<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
        <h2 class="const-blue text-uppercasem text-center"><b>UPDATE HISTORY</b></h2>
    </div>
</div>
<div class="row updated-list">
  <div class="col-md-12">
    <h3 class="const-heading">Version 1.2:</h3>
    <ul>
      <li>Added a “Breakdown” feature for all non-labor Line Numbers.  Users can now enter multiple lines of detail (up to 20) on a separate sheet for these Line Numbers, and this information will be saved.</li>
      <li>Added the ability to input the Fringe and PH&W amounts manually on the Payroll Log.</li>
      <li>Added the ability for the current date to automatically be added to a new PO, if no date was entered for it on the PO Log.</li>
      <li>Added the ability to have the DESCRIPTION column of a PO automatically filled in with the Line Description from the budget, based on what is entered in the LINE column.</li>
      <li>Added the ability for the Cost Summary sheet to warn the user if the total of the logs don’t match the ACTUAL amount shown on the Cost Summary sheet.  When this feature is enabled, a warning message will appear directly below the ACTUAL total.  If the user selects the cell with the warning message, a text box will appear below it which will list all items on the logs that do not have a valid Line Number assigned to them.</li>
      <li>Miscellaneous bug fixes and improvements.</li>
    </ul>
    <h3 class="const-heading">Version 1.1:</h3>
    <ul>
      <li>Updated the way CSV files are imported into the Payroll Log.</li>
      <li>Miscellaneous fixes and improvements.</li>
    </ul>
    <h3 class="const-heading">Version 1.0:</h3>
    <ul>
      <li>Added new sheets: Bid Assistant, Chart of Accounts, and Notes</li>
      <li>Eliminated the “blank page” issue when printing and creating PDF’s on Excel for Mac.</li>
      <li>Eliminated the problem on Excel for Mac where printing would not work if a PDF had already been created.</li>
      <li>Eliminated the “SaveAs” run-time error that some people were experiencing when opening the file.</li>
      <li>Added the ability to print sheets in reverse order.</li>
      <li>Added the ability to import PointZero and Hot Budget files.</li>
      <li>Added the ability to hide unused rows on all budget pages.</li>
      <li>Added the ability to have a No column on all budget pages (not including the Travel sheet).</li>
      <li>Added a Notes column to both the Estimate Detail and Working Detail sections on Page 2.</li>
      <li>Added the ability to auto-generate PO’s from the Purchase Order Log.</li>
      <li>Added the ability to update PO’s based on changes made to the Purchase Order Log.</li>
      <li>Added the ability to delete all PO’s.</li>
      <li>Added the ability to have up to 20 rows on the PO Form.</li>
      <li>Added the ability to export the Purchase Order Log, Payroll Log, and Petty Cash Log as separate Excel files.</li>
      <li>Added the ability to show a detailed list of costs when selecting a cell in the Actual column of the budget pages.</li>
      <li>Added the ability to assign Total Travel costs (Estimate section) to Lines 17-19 of the Cost Summary sheet.</li>
      <li>Added the ability to assign Total Travel costs (Working section) to Lines 17-19 and 22 of the Cost Summary sheet.</li>
      <li>Added the ability to actualize to Lines 17-19 and 22 of the Cost Summary sheet.</li>
      <li>Added the ability to change the Line Numbers on the budget pages.</li>
      <li>Added the ability to hide most of the sheets in the file.</li>
      <li>Added the ability to specify what information is copied via the ‘Copy From 1A’ button on Page 1B.</li>
      <li>Added the ability to change the colors of rows on the Purchase Order Log if a PO has been generated for that PO.</li>
      <li>Added the ability to change the colors of rows/columns on the Petty Cash Log if a PC Envelope sheet has been generated for that PC Envelope.</li>
      <li>Added the ability to change the envelope number of a PC Envelope sheet by moving it from one sheet to another.</li>
      <li>Added a Comment Scratch Area to the Cost Summary sheet.</li>
      <li>Eliminated the SAVE button on the Prod Fee & Ins sheet.</li>
      <li>Added the ability to have TrueBudget automatically save the file when it is closed.</li>
      <li>Added the ability to sort the Travel Budget by the Line column.</li>
      <li>Other miscellaneous fixes and improvements.</li>
    </ul>
  </div>
</div>
</div>