.updated-list ul {
    list-style-type: none !important;
    padding-left: 0px !important;
}
.updated-list h3{
    font-weight: 900;
    padding: 25px 0px;
}
.updated-list li::before{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 0.5%;
    margin-right: 5px;
}
.updated-list li{
    color: rgb(0, 0, 0);
    font-size: 17px;
    line-height: 1.7;
}