<div class="container requirement-section">
  <div class="row">
    <div class="col-md-12">
      <h2 class="const-blue text-uppercasem text-center pb-5"><b>SYSTEM REQUIREMENTS</b></h2>
      <p class="text-center">TrueBudget has been designed to work on the following Operating Systems and Excel versions.</p>
    </div>
  </div>
  <div class="row list-one">
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <ul class="list-group">
        <li class="list-group-item border-0">
          <img src="../../assets/website/images/windows.png" class="img-responsive" alt="windowslogo">
        </li>
        <li class="list-group-item border-0">Windows 7</li>
        <li class="list-group-item border-0">Windows 8</li>
        <li class="list-group-item border-0">Windows 8.1</li>
        <li class="list-group-item border-0 mb-3">Windows 10</li>
        <br>
        <li class="list-group-item border-0">Excel 2010</li>
        <li class="list-group-item border-0">Excel 2013</li>
        <li class="list-group-item border-0">Excel 2016</li>
        <li class="list-group-item border-0">Excel 2019</li>
        <li class="list-group-item border-0">Excel 365</li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <ul class="list-group">
        <li class="list-group-item border-0">
          <img src="../../assets/website/images/macos.png" class="img-responsive" alt="windowslogo">
        </li>
        <li class="list-group-item border-0">​El Capitan (10.11)</li>
        <li class="list-group-item border-0">Sierra (10.12)</li>
        <li class="list-group-item border-0">High Sierra (10.13)</li>
        <li class="list-group-item border-0">Mojave (10.14)</li>
        <li class="list-group-item border-0">Catalina (10.15)</li>
        <li class="list-group-item border-0 mb-3">Big Sur (11.0)</li>
        <br>
        <li class="list-group-item border-0">Excel 2011 (v 14.7.7)</li>
        <li class="list-group-item border-0">Excel 2016 (v 16.16.27)</li>
        <li class="list-group-item border-0">Excel 2019 (v 16.40)</li>
        <li class="list-group-item border-0">Excel 365 (v 16.40)​</li>
      </ul>
    </div>
  </div>
  <div class="row" style="padding-bottom: 25px;">
    <div class="col-md-12">
      <p class="text-center"><i>It may work on earlier versions of both Operating Systems, but we have not been able to test it on those.​</i></p>
    </div>
  </div>
</div>