<div class="container feature-blog mt-3">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-uppercasem text-center pt-3 const-blue"><b>FEATURES</b></h2>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <div class="list-group mb-0">
        <div class="list-group-item border-0">
          <h3 class="const-heading">Digital Purchase Orders</h3>
          <p>TrueBudget allows you to create digital Purchase Orders, and that information is automatically sent to the
            Purchase Order Log. When your job is complete, you may output all Purchase Orders to a separate Excel file.
          </p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Digital Petty Cash Envelope sheets</h3>
          <p>TrueBudget also allows you to create digital Petty Cash Envelope sheets, and that information can be sent
            directly to the Petty Cash Log. You may also output all of these to a separate Excel file.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Import Petty Cash Envelope sheets</h3>
          <p>TrueBudget has a built-in Petty Cash Envelope sheet for sending to your crew members. Once they fill it
            out, you may easily import it into TrueBudget.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Choose between Petty Cash Log formats</h3>
          <p>TrueBudget allows you to choose your preferred type of Petty Cash Log, between the “Grid” style (as used
            in PointZero) and the “Linear” style (similar to the Purchase Order Log).</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Change Overtime Calculation</h3>
          <p>Depending on where you are shooting, you may wish to change the way overtime is calculated. For instance,
            in California you would want it to calculate time-and-a-half after 8 hours, and double-time after 12 hours.
            In other states, you might want it to only calculate time-and-a-half after 8 hours. TrueBudget allows you
            to easily change this.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Copy Estimate to Working</h3>
          <p>Once you have your Estimate completed, you can duplicate that to your Working budget with the click of a
            button.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">PH&W “Flat” Amounts</h3>
          <p>Because some unions require a payment in PH&W based on hours or days worked, you can input this into your
            Estimate and Working budgets.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Overtime Report</h3>
          <p>Quickly see how much overtime you currently have in both the Estimate and Working budgets.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Repair Formatting</h3>
          <p>Sometimes the formatting of certain cells become inadvertently changed, usually due to copying & pasting
            from another Excel file. If this happens, you can easily repair the formatting of the affected sheets.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Budget Importing</h3>
          <p>You may import specific sheets of your TrueBudget file into another TrueBudget file, including your logs.
            You may also import budgets from PointZero and Hot Budget into a TrueBudget file.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Currency Conversion</h3>
          <p>In case you are creating your budget in one currency, but want to show a conversion into another currency,
            you can easily do that on the Cost Summary page.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Overtime Calculators</h3>
          <p>TrueBudget has two different Overtime Calculators – a “basic” version and a “full” version. You may use
            whichever is easiest for the number of crew members you need to calculate overtime for.</p>
        </div>
        <div class="list-group-item border-0">
          <h3 class="const-heading">Various Customization Options</h3>
          <p>TrueBudget allows you to customize your file in many different ways, via the Options menus. For instance,
            you can change the color of the various sheet tabs, change what appears in the Excel status bar (in the
            bottom left), and change the name of the Working budget. Check out the Options menus to see all of the ways
            you can customize the file to your liking.</p>
        </div>
      </div>
    </div>
  </div>
</div>